* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #33404D;
    --backgroundColor: #1E2D3B;
    --titleText: white;
    --descriptionText: #777;
    --heightHeader: 80px;
}


/* COMMON */




/* FINE COMMON */


/* HEADER */

header {
    height: var(--heightHeader);
    width: 100%;
    background-color: var(--mainColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.logo__img {
    width: 60px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
}

.logo__img img {
    width: 100%;
}

.selection {
    width: 200px;
    height: 40px;
}

.selection select {
    outline: none;
    background-color: var(--backgroundColor);
    border: none;
    color: var(--titleText);
    padding: 10px;
    width: 100%;
    height: 100%;
}


/* FINE HEADER */


/* MAIN */

.main {
    width: 100vw;
    min-height: calc(100vh - var(--heightHeader));
    padding: 20px 0;
    background-color: var(--backgroundColor);
}

.container {
    max-width: 70%;
    margin: 0 auto;
    
}

.card {
    width: calc(100% / 5 -20px);
    margin: 10px;
    padding: 0px 20px;
    float: left;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--mainColor);
    cursor: pointer;
}

.card__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
}

.card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.card__info {
    max-width: 200px;
    text-align: center;
}
.card__info h3 {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
}

.card__info h4 {
    font-size: 16px;
}

.card__title {
    color: var(--titleText);
}

.card__author {
    color: var(--descriptionText);
}

.clearfix {
    display: table;
    content: '';
    clear: both;
}